/* =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
    + 01.0 Reboot CSS
    + 02.0 Spacing CSS
    + 03.0 Event CSS
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */

/* Import Fonts & CSS Styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700");
@import url(css/bootstrap.min.css);
@import url(css/font-awesome.min.css);
@import url(css/style.css);

/* + 01.0 Reboot CSS */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	z-index: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #252525;
	line-height: 1.3;
	font-weight: 600;
}

a,
a:active,
a:focus,
a:hover {
	color: #252525;
	text-decoration: none;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	outline: none;
	font-weight: 500;
}

li {
	list-style: none;
}

p {
	line-height: 1.9;
	color: #636363;
	font-size: 16px;
	font-weight: 400;
}

img {
	width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
}

.bg-overlay {
	position: relative;
	z-index: 1;
}

.bg-overlay::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.4);
}

.bg-img {
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.jarallax {
	position: relative;
	z-index: 0;
}

.jarallax > .jarallax-img {
	position: absolute;
	object-fit: cover;
	font-family: 'object-fit: cover';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	position: fixed;
	z-index: 100;
	color: #ffffff;
	right: 20px;
	text-align: center;
	padding-right: 0;
	width: 100%;
	top: 20px;
	width: 30px;
	background: #3f5efb;
	height: 30px;
	line-height: 30px;
}

img.mfp-img {
	-webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
	box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}

button.mfp-close,
button.mfp-arrow {
	background: #3f5efb;
}

.mfp-bottom-bar {
	display: none !important;
}

.mfp-bg {
	background-color: #000000;
}

.bg-transparent {
	background-color: transparent !important;
}

.bg-gray {
	background-color: #f7f7f7 !important;
}

textarea:focus,
input:focus {
	outline: none;
}

textarea:invalid,
input:invalid,
textarea:required,
input:required {
	box-shadow: none !important;
}

.border {
	border-color: #ebebeb;
}

.mfp-arrow-left::after {
	border-right-color: transparent;
}

.mfp-arrow-left::before {
	border-right-color: #ffffff;
}

.mfp-arrow-right::after {
	border-left-color: transparent;
}

.mfp-arrow-right::before {
	border-left-color: #ffffff;
}

/* + 02.0 Spacing CSS */
.mt-15 {
	margin-top: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-100 {
	margin-right: 100px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-100 {
	margin-bottom: 100px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-100 {
	margin-left: 100px;
}

.pt-50 {
	padding-top: 50px !important;
}

.section-padding-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-padding-0-80 {
	padding-top: 0;
	padding-bottom: 80px;
}

.section-padding-80-0 {
	padding-top: 80px;
	padding-bottom: 0;
}

.section-padding-80-50 {
	padding-top: 80px;
	padding-bottom: 50px;
}

.section-padding-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-padding-0-100 {
	padding-top: 0;
	padding-bottom: 100px;
}

.section-padding-100-0 {
	padding-top: 100px;
	padding-bottom: 0;
}


/* :: 03.0 Blog CSS */
.blog-details-text {
	position: relative;
	z-index: 1;
}

.blog-details-text .row {
	margin-right: -5px;
	margin-left: -5px;
}

.blog-details-text .row .col-12 {
	padding-right: 5px;
	padding-left: 5px;
}

.blog-details-text p {
	font-size: 18px;
	margin-bottom: 20px;
}

.ucd-blockquote {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
	margin-top: 30px;
	border-left: 3px solid #3f5efb;
	padding-left: 30px;
}

.ucd-blockquote h4 {
	margin-bottom: 15px;
	font-size: 24px;
	color: #161715;
	line-height: 1.5;
	font-weight: 400;
}

@media only screen and (max-width: 767px) {
	.ucd-blockquote h4 {
		font-size: 18px;
	}
}

.ucd-blockquote h6 {
	font-size: 18px;
	color: #3f5efb;
	text-transform: uppercase;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
	.ucd-blockquote h6 {
		font-size: 14px;
	}
}

.post-author-area {
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 767px) {
	.post-author-area {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 767px) {
	.post-author-area .popular-tags {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		margin-bottom: 30px;
	}
}

.post-author-area .popular-tags li {
	display: inline-block;
	float: left;
	margin: 3px;
}

@media only screen and (max-width: 767px) {
	.post-author-area .post-social-info {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
	}
}

.post-author-area .post-social-info p {
	margin-bottom: 0;
	margin-right: 20px;
	color: #252525;
}

.post-author-area .post-social-info a {
	display: inline-block;
	color: #625b66;
	margin-right: 20px;
	font-size: 14px;
}

.post-author-area .post-social-info a:last-child {
	margin-right: 0;
}

.post-author-area .post-social-info a:hover,
.post-author-area .post-social-info a:focus {
	color: #3f5efb;
}

.ucd-pager-area {
	position: relative;
	z-index: 1;
}

.ucd-pager-area .previous,
.ucd-pager-area .next {
	width: 100%;
	position: relative;
	z-index: 1;
	height: 290px;
}

@media only screen and (max-width: 767px) {

	.ucd-pager-area .previous,
	.ucd-pager-area .next {
		height: 180px;
	}
}

.ucd-pager-area .previous::after,
.ucd-pager-area .next::after {
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	content: '';
	opacity: 0;
	visibility: hidden;
}

.ucd-pager-area .previous .overlay-content,
.ucd-pager-area .next .overlay-content {
	position: absolute;
	width: 70%;
	height: 100%;
	top: 0;
	left: 15%;
	text-align: center;
	z-index: 100;
}

.ucd-pager-area .previous .overlay-content .post-title,
.ucd-pager-area .next .overlay-content .post-title {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {

	.ucd-pager-area .previous .overlay-content .post-title,
	.ucd-pager-area .next .overlay-content .post-title {
		font-size: 14px;
	}
}

.ucd-pager-area .previous .overlay-content .post-title:hover,
.ucd-pager-area .previous .overlay-content .post-title:focus,
.ucd-pager-area .next .overlay-content .post-title:hover,
.ucd-pager-area .next .overlay-content .post-title:focus {
	color: #3f5efb;
}

.ucd-pager-area .previous .overlay-content .previous-link,
.ucd-pager-area .previous .overlay-content .next-link,
.ucd-pager-area .next .overlay-content .previous-link,
.ucd-pager-area .next .overlay-content .next-link {
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: -10%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	color: #ffffff;
	z-index: 100;
	opacity: 0;
}

.ucd-pager-area .previous .overlay-content .previous-link:hover,
.ucd-pager-area .previous .overlay-content .previous-link:focus,
.ucd-pager-area .previous .overlay-content .next-link:hover,
.ucd-pager-area .previous .overlay-content .next-link:focus,
.ucd-pager-area .next .overlay-content .previous-link:hover,
.ucd-pager-area .next .overlay-content .previous-link:focus,
.ucd-pager-area .next .overlay-content .next-link:hover,
.ucd-pager-area .next .overlay-content .next-link:focus {
	color: #3f5efb;
}

.ucd-pager-area .previous:hover::after,
.ucd-pager-area .previous:focus::after,
.ucd-pager-area .next:hover::after,
.ucd-pager-area .next:focus::after {
	opacity: 1;
	visibility: visible;
}

.ucd-pager-area .previous:hover .previous-link,
.ucd-pager-area .previous:hover .next-link,
.ucd-pager-area .previous:focus .previous-link,
.ucd-pager-area .previous:focus .next-link,
.ucd-pager-area .next:hover .previous-link,
.ucd-pager-area .next:hover .next-link,
.ucd-pager-area .next:focus .previous-link,
.ucd-pager-area .next:focus .next-link {
	opacity: 1;
}

.ucd-pager-area .next .overlay-content .next-link {
	left: auto;
	right: -10%;
}

.pagination {
	position: relative;
	z-index: 1;
}

.pagination .page-item:last-child .page-link {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pagination .page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.pagination .page-link {
	padding: 12px 15px;
	color: #252525;
	border: none;
	background-color: #f7f7f7;
	margin-right: 5px;
	border-radius: 3px;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
	background-color: #3f5efb;
	color: #ffffff;
	border-color: #3f5efb;
}

.pagination .page-link:focus {
	box-shadow: none;
}

.ucd-blog-area {
	position: relative;
	z-index: 1;
}

.ucd-blog-area .row {
	margin-right: -5px;
	margin-left: -5px;
}

.ucd-blog-area .row .col-12 {
	padding-right: 5px;
	padding-left: 5px;
}

.single-post-area {
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

.single-post-area::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	z-index: 1;
}

.single-post-area .post-thumbnail {
	display: block;
	overflow: hidden;
}

.single-post-area .post-thumbnail img {
	width: 100%;
	-webkit-transition-duration: 800ms;
	-o-transition-duration: 800ms;
	transition-duration: 800ms;
}

.single-post-area .post-catagory {
	position: absolute;
	padding: 2px 15px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #3f5efb;
	top: 15px;
	right: 15px;
	z-index: 20;
	font-weight: 500;
}

.single-post-area .post-catagory:hover,
.single-post-area .post-catagory:focus {
	font-weight: 500;
	background-color: #000000;
}

.single-post-area .post-content {
	position: absolute;
	left: 30px;
	bottom: 30px;
	right: 30px;
	z-index: 100;
}

.single-post-area .post-content .post-meta {
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}

.single-post-area .post-content .post-meta a {
	position: relative;
	z-index: 1;
	font-size: 20px;
	color: #ffffff;
	font-weight: 300;
	margin-right: 21px;
}

.single-post-area .post-content .post-meta a:last-child::after {
	content: '';
	position: absolute;
	top: 0;
	left: -11px;
	z-index: 1;
}

.single-post-area .post-content .post-meta a:hover,
.single-post-area .post-content .post-meta a:focus {
	color: #3f5efb;
}

.single-post-area .post-content .post-meta a:hover::after,
.single-post-area .post-content .post-meta a:focus::after {
	color: #ffffff;
}

.single-post-area .post-content .post-title {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.single-post-area .post-content .post-title {
		font-size: 16px;
	}
}

.single-post-area .post-content .post-title:hover,
.single-post-area .post-content .post-title:focus {
	color: #3f5efb;
}

